In [1]:
import glob
import pandas as pd
import csv
from thefuzz import fuzz

In [2]:
df_all = pd.read_csv("data/california.csv", skip_blank_lines=True, encoding='unicode_escape')

In [3]:
df_all = df_all.set_axis(['First', 'Name', 'Date', 'Victims', 'Location'], axis=1)
df_all = df_all.drop("First", axis = 1)
df_all = df_all[df_all['Victims'].notna()]
df_all['Victims'] = df_all['Victims'].str.replace('+', '', regex=False).str.replace('?','', regex=False).str.extract(r'(\d+)')
df_all.Victims = pd.to_numeric(df_all.Victims, errors='coerce')

In [4]:
df_all.head()

                    Name            Date  Victims         Location
1       Burton W. ABBOTT  April 28, 1955      1.0  California, USA
2  Robert James ACREMANT  Oct./Dec. 1995      3.0  California, USA
3   Joseph Moreno AGUAYO  April 17, 1979      1.0  California, USA
4    Rodney James ALCALA     1977 - 1979      5.0  California, USA
5        Andre ALEXANDER     1978 / 1980      4.0  California, USA

In [5]:
df_links = pd.read_csv("links/california.csv", skip_blank_lines=True, encoding='unicode_escape', header=None)
df_links = df_links.set_axis(['Link'], axis=1)

In [6]:
df_links.head()

                                                Link
0  https://murderpedia.org/male.A/a/abbott-burton...
1  https://murderpedia.org/male.A/a/acremant-robe...
2  https://murderpedia.org/male.A/a/aguayo-joseph...
3  https://murderpedia.org/male.A/a/alcala-rodney...
4  https://murderpedia.org/male.A/a/alexander-and...

In [7]:
def get_name(row):
    return (row['Link'].split("/")[-1].replace(".htm", "").split("-")[::-1])

In [8]:
df_links['Name'] = df_links.apply(get_name, axis=1)
df_links.head()

                                                Link                Name
0  https://murderpedia.org/male.A/a/abbott-burton...    [burton, abbott]
1  https://murderpedia.org/male.A/a/acremant-robe...  [robert, acremant]
2  https://murderpedia.org/male.A/a/aguayo-joseph...    [joseph, aguayo]
3  https://murderpedia.org/male.A/a/alcala-rodney...    [rodney, alcala]
4  https://murderpedia.org/male.A/a/alexander-and...  [andre, alexander]

In [9]:
def break_names(row):
    return (row['Name'].lower().split(" "))

In [10]:
df_all["Broken_names"] = df_all.apply(break_names, axis = 1)
df_all.tail()

,Name,Date,Victims,Location,Broken_names
383,Kao XIONG,"December 4, 1999",5.0,"California, USA","[kao, xiong]"
385,Gourgen Mkrtich YANIKIAN,"January 27, 1973",2.0,"California, USA","[gourgen, mkrtich, yanikian]"
386,Leung YING,"August 22, 1928",11.0,"California, USA","[leung, ying]"
388,William Floyd ZAMASTIL,1978,3.0,"California, USA","[william, floyd, zamastil]"
389,John ZAWAHRI,"June 7, 2013",5.0,"California, USA","[john, zawahri]"

In [34]:
df_final = pd.DataFrame(columns=['Name', 'Date', 'Link', 'Victims', 'Location'])
for (i, row1), (j, row2) in zip(df_all.iterrows(), df_links.iterrows()):
    if fuzz.ratio(row1["Broken_names"], row2["Name"]) > 50:
        df_final = pd.concat([pd.DataFrame([[row1["Name"], row1["Date"], row2["Link"], row1["Victims"], row1["Location"]]], columns=df_final.columns), df_final], ignore_index=True)

/var/folders/2g/rf89nwnj6q56gl1nssrbv4380000gn/T/ipykernel_42913/256205555.py:4: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df_final = pd.concat([pd.DataFrame([[row1["Name"], row1["Date"], row2["Link"], row1["Victims"], row1["Location"]]], columns=df_final.columns), df_final], ignore_index=True)

In [38]:
df_final = df_final[df_final['Victims'] >= 3]

In [2]:
import glob
import pandas as pd
from thefuzz import fuzz

In [3]:
def break_names(row):
    return (row['Name'].lower().split(" "))

In [4]:
def get_name(row):
    return (row['Link'].split("/")[-1].replace(".htm", "").split("-")[::-1])

In [5]:
def get_all_dataframe(file_name):
    df_all = pd.read_csv(file_name, skip_blank_lines=True, encoding='unicode_escape').drop_duplicates()
    df_all = df_all.set_axis(['First', 'Name', 'Date', 'Victims', 'Location'], axis=1)
    df_all = df_all.drop('First', axis = 1)
    df_all = df_all[df_all['Victims'].notna()]
    df_all['Victims'] = df_all['Victims'].str.replace('+', '', regex=False)\
        .str.replace('?','', regex=False).str.extract(r'(\d+)')
    df_all.Victims = pd.to_numeric(df_all.Victims, errors='coerce')
    df_all["Broken_names"] = df_all.apply(break_names, axis = 1)
    
    return df_all

In [6]:
def get_links_dataframe(link_file_name):
    df_links = pd.read_csv(str("links/" + link_file_name), encoding='unicode_escape')
    df_links = df_links.set_axis(['Link'], axis=1)
    df_links['Name'] = df_links.apply(get_name, axis=1)

    return df_links

In [9]:
def combine_csv():
    print("Combining CSV's START")
    writer = pd.ExcelWriter('CompleteFiles/Serial_Killers.xlsx')
    i = 0
    for file_name in glob.glob("data/*.csv"):
        i += 1
        # Process Dataframe with all the Data
        df_all = get_all_dataframe(file_name)

        link_file_name = file_name.split("/")[1]
        # Process Dataframe with the Links
        df_links = get_links_dataframe(link_file_name)
        
        # Combine both dataframes based on fuzzy comparison of the Names
        df_final = pd.DataFrame(columns=['Name', 'Date', 'Link', 'Victims', 'Location'])
        for (i, row1) in df_all.iterrows():
            for (j, row2) in df_links.iterrows():
                if fuzz.ratio(row1["Broken_names"], row2["Name"]) > 50:
                    df_final = pd.concat([pd.DataFrame([[row1["Name"], row1["Date"], row2["Link"], row1["Victims"], row1["Location"]]], columns=df_final.columns), df_final], ignore_index=True)
                    df_links.drop(index=[j])
                    break
        
        print(df_final.head())
        # Remove all rows with less than 3 victims as Serial Killers are >= 3
        df_final = df_final[df_final['Victims'] >= 3]
        sheet_name = file_name.split("/")[1].replace(".csv","").capitalize()
        df_final.to_excel(writer,sheet_name=sheet_name)
    writer._save()
    print(i, " CSV's combined into Serial_Killers.xlsx")

In [10]:
if __name__ == "__main__":
    combine_csv()

Combining CSV's START
                    Name                Date  Victims      Location  \
1      Joseph Dewey AKIN         1990 - 1991     18.0  Georgia, USA
2   Jack Edward ALDERMAN  September 21, 1974      1.0  Georgia, USA
3   Stanley Edward ALLEN     January 5, 1981      1.0  Georgia, USA
4  James Douglas ANDREWS       July 23, 1990      1.0  Georgia, USA
6   Clinton BANKSTON Jr.   April/August 1987      5.0  Georgia, USA

                Broken_names
1      [joseph, dewey, akin]
2   [jack, edward, alderman]
3   [stanley, edward, allen]
4  [james, douglas, andrews]
6   [clinton, bankston, jr.]
196
                                                Link  \
0  https://murderpedia.org/male.A/a1/alderman-jac...
1  https://murderpedia.org/male.A/a/allen-stanley...
2  https://murderpedia.org/male.A/a/andrews-james...
3  https://murderpedia.org/male.B/b/bankston-clin...
4  https://murderpedia.org/male.B/b/barnes-joseph...

                        Name
0           [jack, alderman]
1   [edward, stanley, allen]
2  [douglas, james, andrews]
3        [clinton, bankston]
4   [martin, joseph, barnes]

/var/folders/2g/rf89nwnj6q56gl1nssrbv4380000gn/T/ipykernel_47348/3583338029.py:20: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df_final = pd.concat([pd.DataFrame([[row1["Name"], row1["Date"], row2["Link"], row1["Victims"], row1["Location"]]], columns=df_final.columns), df_final], ignore_index=True)

                        Name              Date  \
0  George Martin ZINKHAN III    April 25, 2009
1              John C. YOUNG  December 7, 1974
2     Thomas George WOOLFOLK    August 6, 1887
3           Andrew Paul WITT      July 5, 2004
4                 Henry WIRZ       1864 - 1865

                                                Link  Victims      Location
0  https://murderpedia.org/male.Z/z/zinkhan-georg...      3.0  Georgia, USA
1   https://murderpedia.org/male.Y/y1/young-john.htm      3.0  Georgia, USA
2  https://murderpedia.org/male.W/w/woolfolk-thom...      9.0  Georgia, USA
3  https://murderpedia.org/male.W/w/witt-andrew-p...      2.0  Georgia, USA
4    https://murderpedia.org/male.W/w/wirz-henry.htm     11.0  Georgia, USA
georgia.csv 44
                    Name              Date  Victims             Location  \
1  Sylvester Lewis ADAMS  October 17, 1979        1  South Carolina, USA
2     Quincy Javon ALLEN  July-August 2002        4  South Carolina, USA
3         John D. ARNOLD    April 12, 1978        1  South Carolina, USA
4   Joseph Ernest ATKINS       1985 / 1999        3  South Carolina, USA
6        Larry Gene BELL     May-June 1985        2  South Carolina, USA

                Broken_names
1  [sylvester, lewis, adams]
2     [quincy, javon, allen]
3         [john, d., arnold]
4   [joseph, ernest, atkins]
6        [larry, gene, bell]
74
                                                Link                      Name
0  https://murderpedia.org/male.A/a/allen-quincy-...    [javon, quincy, allen]
1  https://murderpedia.org/male.A/a1/arnold-john.htm            [john, arnold]
2  https://murderpedia.org/male.A/a1/atkins-josep...  [ernest, joseph, atkins]
3  https://murderpedia.org/male.B/b1/bell-larry-g...       [gene, larry, bell]
4  https://murderpedia.org/male.B/b/bounds-dallen...          [dallen, bounds]
                    Name                Date  \
0       Kevin Dean YOUNG     August 31, 1988
1      Dale Robert YATES   February 12, 1981
2  Ronald Raymond WOOMER       February 1979
3   Hastings Arthur WISE  September 15, 1997
4   Luke A. WILLIAMS III       June 19, 1991

                                                Link Victims  \
0  https://murderpedia.org/male.Y/y1/young-kevin-...       1
1  https://murderpedia.org/male.Y/y/yates-dale-ro...       1
2  https://murderpedia.org/male.W/w1/woomer-ronal...       4
3  https://murderpedia.org/male.W/w1/wise-hasting...       4
4  https://murderpedia.org/male.W/w1/williams-luk...       2

              Location
0  South Carolina, USA
1  South Carolina, USA
2  South Carolina, USA
3  South Carolina, USA
4  South Carolina, USA
south-carolina.csv 31

AttributeError: Can only use .str accessor with string values!